:root{


}

body{
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    background-color: rgba(255, 255, 255, 0.596);
}
button{
    font-size: 4vh;
    background-color: rgba(168, 167, 106, 0.74);
    border: none;    
    
    color: white;
    
}
#botao{
    
    align-self: center;
}
#cabecalho{
    text-align: center;
    color: white;
}
#conteudo{    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#caixaDados{
    margin:2%;
    display: flex;
    flex-direction: column;  
    width: 53%;
}
#resultados{
    margin: 2%;
    width: 53%;   
    height: 200px;
    background-color: rgba(255, 255, 255, 0.596);   
    overflow: auto;
    

    
}
#resultados span{
    margin: 5px;
    text-align: justify;
}